/* EXOKIT COLOR PALLETE
#CE2870 - pink
#654373 - purple
#02BC9F - light green
#098D8B - dark green
#FA7284 - peach pink
 */
.projectTitle{
  color: #202020;
}
body {
  overflow-x: hidden;
}
.navPusher{
  padding-top: 90px;
}
.fixedHeaderContainer ul, ol{
  margin: 2px;
}
.container.paddingTop{
  padding-top: 10px;
  padding-bottom: 0;
}
.container.paddingBottom{
  padding-top: 50;
  padding-bottom: 0;
}
.blockContent h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.navSearchWrapper{
  top: -8px;
}
.headerTitleWithLogo {
  display: hidden;
}
.gridBlock {
  max-width: 55%;
  margin: auto;
  width: 50%;
}
.homeContainer {
  padding-bottom: 50px;
}
@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper input#search_input_react:focus{
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.reactNavSearchWrapper input#search_input_react{
  background-color: rgba(0, 0, 0, 0.2);
}
.fixedHeaderContainer, .fixedHeaderContainer{
  background-color: #202020;
  color: white;
}
.navSearchWrapper .aa-dropdown-menu{
  background-color: #202020;
  color: white;
}
.gridBlock .twoByGridBlock img{
  padding-top: 20px;
}
.threeByGridBlock{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.imageAlignTop.alignCenter .blockImage{
  padding-top: 10px;
}
.gridBlock .fourByGridBlock img{
  max-height: 90px;
  width: auto;
}
.toc .toggleNav ul li.navListItemActive a{
  color: #00B49B;
}
.toc .toggleNav ul li a:hover{
  color: #00B49B;
}
.fixedHeaderContainer header .headerTitleWithLogo{
  margin-top: 0%;
}
.fixedHeaderContainer .headerTitleWithLogo{
  font-weight: 400;
}
.navigationSlider .slidingNav ul li a{
  color: white;
  font-weight: 400;
  border-bottom: rgba(255, 255, 255, 0) 2px solid;
}
a, a:hover{
  color: #00B49B;
}
.mainContainer .wrapper .post .postHeaderTitle a{
  color: inherit;
}
.mainContainer .wrapper .post .postHeaderTitle a:hover{
  color: #00B49B;
}
.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a{
  border-bottom-color: #00B49B;
}
.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li a{
  padding-bottom: 25px;
  margin-top: 10px;
}
.navigationSlider .slidingNav ul li a:hover{
  color: #e4e4e4;
  border-bottom-color: #00B49B;
}

.fixedHeaderContainer{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: black 1px solid;
}
.siteNavGroupActive .siteNavItemActive{
  border-bottom-color: #00B49B;
}
.fixedHeaderContainer header img{
  height: 120%;
}
.productShowcaseSection h2{
  color: inherit;
}
.button{
  color: #00B49B;
  border-color: #00B49B;
  transition: background 0.3s, color 0.3s;
  margin: 5px;
}
.button:hover{
  background-color: #00B49B;
  color: white;
  transition: background 0.3s, color 0.3s;
}
.homeContainer .homeWrapper{
  /* background: linear-gradient(10deg, rgba(79, 206, 101, 0.4), rgba(2, 188, 159, 0.51), rgba(9, 141, 139, 0.51)); */
  height: 160px;
}
.homeContainer .projectTitle{
  padding-top: 0;
}
.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a{
  background-color: inherit;
}

.imageAlignTop .blockImage{
  max-width: 200px;
}

.gridBlock .twoByGridBlock img{
  max-width: 35%;
}

@media (max-width: 480px) {
  .headerTitleWithLogo {
    display: block !important;
  }
}
@media only screen and (max-width: 450px){ /* up to cellphone screen */
  .homeContainer .projectTitle{
    padding-top: 20px;
    margin-top: 0;
  }
  .homeContainer .homeWrapper{
    min-height: 20vh;
  }
  .threeByGridBlock{
    padding-top: 0 !important;
  }
  table td{
    padding: 4px 2px;
    text-align: center !important;
    font-size: 90%;
  }
  .aa-cursor .algolia-docsearch-suggestion--content {
    height: 8px;
  }
  .algolia-docsearch-suggestion--content{
    height: 8px;
  }
  .navSearchWrapper .aa-dropdown-menu{
    min-height: 40vh;
  }
  .aa-cursor .algolia-docsearch-suggestion--content, .algolia-docsearch-suggestion--content{
    height: auto !important;
  }
}
@media only screen and (min-width: 1024px) {
  .separateOnPageNav .docsNavContainer{
    min-height: 720px;
  }

}

@media only screen and (max-width: 1023px) {
  .navSearchWrapper .aa-dropdown-menu{
    min-height: 40vh;
  }
  .navSearchWrapper{
    top: 13px;
  }
  .navigationSlider .slidingNav ul li a{
    font-weight: 500;
  }
  .fixedHeaderContainer header img{
    height: 110%;
  }
  .navigationSlider .slidingNav ul{
    margin-top: 40px;
  }
  .navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a{
    background: #202020;
    border-bottom-color: #00B49B;
  }
  .fixedHeaderContainer header .headerTitleWithLogo{
    margin-top: 3%;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li a{
    padding-bottom: 10px;
    margin-top: 0px;
  }
  .navigationSlider .slidingNav ul{
    background: #202020;
  }
  .fixedHeaderContainer ul, ol{
    margin: 0;
  }
  @media only screen and (max-width: 1023px) {
    .tocActive .onPageNav {
      top: 168px;
    }
  }
}

/* Bottom border of each suggestion */
.algolia-docsearch-suggestion {
  border-bottom: solid rgba(0, 255, 219, 0.53) 2px;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
  color: #00B49B;
}
/* Highlighted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: rgba(0, 0, 0, 0.5);
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: white;
  min-height: 60px;
  border-bottom: solid #00B49B 2px;
}
.algolia-docsearch-suggestion--content{
  min-height: 60px;
  color: white;
  text-align: center;
  border-bottom: solid rgba(0, 180, 155, 0) 2px;
}

.aa-cursor .algolia-docsearch-suggestion {
  background-color: rgba(0, 0, 0, 0.5);
}
/* For bigger screens, when displaying results in two columns */
@media (min-width: 768px) {
  /* Bottom border of each suggestion */
  .algolia-docsearch-suggestion {
  }
  /* Left column, with secondary category header */
  .algolia-docsearch-suggestion--subcategory-column {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
  }
}
article p img{
  display: inline;
}
article p img{
  text-align: center;
}
.mainContainer{
  min-height: 60vh;
  padding-top: 0;
}
.productShowcaseSection.paddingBottom{
  padding-top:50px;
  padding-bottom:50px;
}
.algolia-docsearch-suggestion--subcategory-column-text{
  display: inline;
}
.aa-cursor .algolia-docsearch-suggestion--content{
  color: white;
}
@media only screen and (max-width: 735px){
  .navSearchWrapper{
    width: 50%;
  }
}
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight, .navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight{
  color: #00b49b;
}
.algolia-docsearch-suggestion--subcategory-column{
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight{
  background-color: rgba(0, 180, 155, 0.58);
}
